.tengah{
	display:block;
	background:#ffffff;
	width:1400px;
	height:850px;
	margin-top:170px;
	margin-left:260px;
	box-shadow:10px 10px;
	padding-left:10px;
	border: 1px solid black;
}
.dasar{
	background:url("batik.png");
}
.bkg{
	background-image:url("background.jpg");
}

